body{
  text-align:justify;
  min-width: 100px;
  min-height: 30px;
  padding: 10px;
  margin: 10px;
  border: 10px #8FBC8F;
  border-left-style:double;
  border-right-style: groove;
  border-bottom-style: groove;
  border-top-style: double;
  box-shadow: inset 0 0 0 1000px rgba(248,248,231,.7);
  background: linear-gradient(to right, LightGoldenRodYellow, lightblue);
  background-size: 150% 150%;
  animation: gradient 10s ease-in infinite;
  font-family: DejaVu Sans Mono, monospace;
}
