body {
  background-color: darkslategrey;
}

#content {
  background-color: darkseagreen;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  border-width: 10px;
}
